

body{
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer-fix {
    width: 100%; /* Đặt chiều rộng của footer thành 100% */
    position: fixed;
    bottom: 0;
    left: 0; /* Đảm bảo footer bắt đầu từ cạnh trái */
    background-color: var(--color-one);
    color: #FFF;
    box-sizing: border-box; /* Đảm bảo padding và border được bao gồm trong kích thước */
    padding: 10px; /* Tùy chọn: Thêm khoảng đệm cho nội dung */
}

.colored-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--color-one);
    display: none; 
}
.footer-fix .footer-title{
    text-align: center;
}


.header{
    width: 100%;
}

.inner-header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 99999;
}
.inner-logo{
    border:1px solid var(--color-one);
    height: 50px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    background-color: var(--color-one);
    color: #FFF;
}
.inner-header-menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    padding-left: 0%;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    background-color: #FFF;
   
}
.inner-header-menu ul li{
    padding-top: 10px;
    width: 150px;
    height: 100%;
    text-align: center;
}
.inner-header-menu ul li a{
    text-decoration: none;
    color: black;
}
.inner-header-menu ul li:hover{
   cursor: pointer;
}
.inner-header-menu ul li:nth-child(1){
    border-bottom-left-radius:15px ;
}
.active1{
    background-color: var(--color-one);
    color: #FFF;
}
.inner-header-menu ul li:nth-child(5){
    
    border-bottom-right-radius:15px ;
}

.inner-background {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    background-image: url('tải\ xuống.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; /* Đảm bảo phần thừa của video không tràn ra ngoài */
}

.inner-background .title{
    position: absolute;
    left: 5%;
}

/* header_footer */

/* main */
main{
    position: relative;
    margin-top: -10%;
}

.active{
    position: relative;
}
.carousel{
    width: 900px ;
    height: 300px;
    
}
.section1{
    position: relative;
    left: 20%;
    margin-top: -10%;
}
.carousel-inner{
    height: 100%;
    background-color: #1E2036;
}
.carousel-item{
    text-align: center;
}

.carousel-item .title{
    position: absolute;
    color: #FFF;
    left: 23%;
    top: 10%;
    text-align: center;
    width: 500px;
}

.carousel-item .title .icon{
    font-size: 80px;
}



.inner_Supplies{
    padding: 0 50px 200px 50px;
}
.inner_Supplies .img {
    width: 100%; /* Đặt chiều rộng cố định cho container */
    height: 100%; /* Đặt chiều cao cố định cho container */
    text-align: center;
    overflow: hidden; /* Đảm bảo phần ảnh thừa không hiển thị ra ngoài */
    position: relative; /* Để dùng thuộc tính position của ảnh */
    margin-bottom: 30px;
}

.inner_Supplies .img img {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease; /* Tạo hiệu ứng mượt khi thay đổi kích thước */
    position: absolute; /* Đặt vị trí tuyệt đối để không làm thay đổi kích thước container */
    top: 50%; /* Canh giữa theo chiều dọc */
    left: 50%; /* Canh giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Canh giữa tuyệt đối */
    transition: height 0.3s ease; 
    object-fit: contain;
}

.inner_Supplies .img img:hover {
    width: 100%;
    height: 110%;
}

.section2 {
    margin-top: 200px;
    margin-bottom: 50px;
    width: 100%;
    min-height: max-content;
}
.inner_Supplies .name,.amount,.date_added,.id{
    display: flex;
    justify-content: space-between;
}

.Patient_Care_Equipment,.Diagnostic_equipment{
    display: none;
}
.delete-button{
    width: 20%;
    padding: 2px ;
    border: 1px solid var(--color-one);
    background-color: var(--color-one);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
}

#add-button{
    width: 100px;
    border-radius: 5px;
    position: relative;
    left: 7%;
    background-color: var(--color-one);
    color: #FFF;
}
#image-preview img{
    width: 10%;
    height: auto;
}
#add-form{
    position: fixed;
    width: 50%;
    background-color: #fff;
    border: 1px solid var(--color-one);
    padding: 10px;
    bottom: 0%;
    height: 50%;
    left: 28%;
    z-index: 9999;
    height: max-content;
}
#image{
    color: var(--color-one);
}
#image-preview {
    text-align: center;
    width: 50%;
}
#image-preview img{
    width: 100%;
}
.inner-form{
    display: flex;
    justify-content: space-between;
}
.button{
    width: 100%;
    text-align: center;
}
#confirm-button,#close-button{
    background-color: var(--color-one);
    color: #FFF;
}
/* main