/* header */
.header .inner-main{
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-one);
}
.header .inner-main .inner-logo img{
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.header .inner-main .inner-title{
    color: #fff;
}
.header .inner-main .inner-menu ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 0px;
    top: 32%;
}
.header .inner-main .inner-menu ul li{
    margin-right: 50px;
}
.header .inner-main .inner-menu ul li a{
     text-decoration: none;
     font-size: 20px;
     color: #fff;
}
.header .inner-main .inner-menu ul li::after{
    content: "";
    border: 2px solid var(--color-two);
    margin-left: 10px;
}
.header .inner-main .inner-menu ul li a:hover{
    color: var(--color-two);
}
/* end header */

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
/* footer fix */
.footer-fix{
    position: absolute;
    bottom: 0px;
    width: 1540px;
    position: fixed;
    background-color: var(--color-one);
    color: #FFF;
}
.footer-fix .footer-title{
    text-align: center;
}
/* end footer  fix*/